<div class="site-main surface-container" id="container">
      <div class="screenContent">
        <div class="metabar u-clearfix">
          <div class="u-marginAuto u-maxWidth1000 u-paddingLeft20 u-paddingRight20 ">
            <div class="u-floatLeft u-height65">
              <a class="siteNav-logo" [routerLink]="['/']">
                <span class="svgIcon svgIcon--45px is-flushLeft">
                  <img src="./assets/images/android-chrome-192x192.png" height=40px width=40px>
                </span>
              </a>
            </div>
            <div class="metabar-block u-floatRight u-height65">
              <div class="buttonSet">
                <label class="button button--chromeless button--small button--withSvgIcon inputGroup u-sm-hide metabar-predictiveSearch u-widthAuto u-height32 u-verticalAlignMiddle" title="Search">
                  <span class="svgIcon svgIcon--search svgIcon--25px u-top0 u-baseColor--iconLight">
                    <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg>
                  </span>
                  <input class=" textInput textInput--darkText u-baseColor--textNormal textInput--transparent  u-lineHeight30 u-height32 u-verticalAlignMiddle" type="search" placeholder="Search erad" required="true">
                </label>
                <button class="button button--small button--circle button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--activity  u-marginRight10 u-marginLeft5 is-touched" title="Notifications" aria-label="Notifications">
                  <span class="svgIcon svgIcon--25px">
                    <svg class="svgIcon-use" width="25" height="25" viewBox="-293 409 25 25"><path d="M-273.327 423.67l-1.673-1.52v-3.646a5.5 5.5 0 0 0-6.04-5.474c-2.86.273-4.96 2.838-4.96 5.71v3.41l-1.68 1.553c-.204.19-.32.456-.32.734V427a1 1 0 0 0 1 1h3.49a3.079 3.079 0 0 0 3.01 2.45 3.08 3.08 0 0 0 3.01-2.45h3.49a1 1 0 0 0 1-1v-2.59c0-.28-.12-.55-.327-.74zm-7.173 5.63c-.842 0-1.55-.546-1.812-1.3h3.624a1.92 1.92 0 0 1-1.812 1.3zm6.35-2.45h-12.7v-2.347l1.63-1.51c.236-.216.37-.522.37-.843v-3.41c0-2.35 1.72-4.356 3.92-4.565a4.353 4.353 0 0 1 4.78 4.33v3.645c0 .324.137.633.376.85l1.624 1.477v2.373z"></path></svg>
                  </span>
                </button>
                <a *ngIf="authUser" [routerLink]="['/profile']" class="button button--chromeless u-baseColor--buttonNormal " aria-haspopup="true" title="{{authUser[0].local.email}}">
                  <div class="avatar">
                  <img src="{{authUser[0].profile_pic_url}}" srcset="././assets/images/avatar.png" alt="{{authUser[0].first_name}}"  class="avatar-image avatar-image--icon">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="metabar metabar--spacer js-metabarSpacer u-height65 u-xs-height56 metabar-sibling"></div>

        <main role="main" class="main">
          <article class=" postArticle " lang="en">
            <div class="container u-maxWidth740">
              <app-loader [loading]="loading"></app-loader>
              <notasks [tasks]="someTasks"></notasks>
              <span *ngIf="allTasks">

                <div class="responsesStreamWrapper u-maxWidth640"  *ngFor="let task of allTasks">
                  <div class="row streamItemConversation-inner cardChromeless">
                    <md-progress-bar
                      [color]="primary"
                       mode="determinate"
                       value="45">
                    </md-progress-bar>
                    <div class="streamItemConversationItem streamItemConversationItem--preview">
                      <div class="u-clearfix u-marginBottom10">
                        <div class="postMetaInline u-floatLeft">
                          <div class="u-flexTop">
                            <div class="u-paddingLeft5">
                              <a class="link--accent u-accentColor--textNormal"  [routerLink]="['/tasks/task._id']">{{task.taskName}}</a>
                              <div class="u-fontSize12">
                                <div class="u-marginTop">
                                  <md-chip-list>
                                    <a  [routerLink]="['/tasks/all']">
                                      <md-chip color="primary" selected="false">{{task.category || Uncategorized}}</md-chip>
                                    </a>
                                  </md-chip-list>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="postMetaInline u-floatRight">
                          <div class="u-flexTop">
                            <div class="postMetaInline-avatar u-flex0">
                              <a class="link avatar u-baseColor--link" [routerLink]="['/profile']">
                                <img src="././assets/images/0-vh_oAbnRXYzUGkDD.jpeg" class="avatar-image u-size36x36 u-xs-size32x32" alt="Go to the profile of Daniel Hošek">
                              </a>
                            </div>
                            <div class="u-paddingLeft5">
                              <a class="link--accent u-accentColor--textNormal" href="#url#">Bruce Bigirwenkya</a>
                              <div class="u-fontSize12">
                                <time >{{task.created_at | date:'HH:mm, dd/MM/yy'}}</time>
                                <span class="middotDivider u-fontSize12"></span>
                                <span class="readingTime" title="1 min read">Supervisor</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="u-paddingRight20 u-paddingLeft20 u-marginTop20">
                        <a [routerLink]="['/tasks/test']">
                          {{task.description}}
                          <ul class="u-margin0 u-padding0" *ngIf="task.attachments">
                            <li  class="u-inline u-margin0 u-padding0">
                              <a class="u-fontSize12 attachment--link" href="#">Attachment 1</a>, 
                            </li>
                            <li  class="u-inline u-margin0 u-padding0">
                              <a class="u-fontSize12 attachment--link" href="#">Attachment 2</a>, 
                            </li>
                          </ul>
                        </a>
                      </div>
                      <div class="u-clearfix">
                        <div class="buttonSet u-floatLeft">
                          <div class="buttonSet-inner">
                            <button class="button button--primary button--chromeless  u-accentColor--buttonNormal button--withIcon button--withSvgIcon u-accentColor--iconLight" title="Mark as Favorite" disabled="disabled">
                              <span class="button-defaultState">
                                <span class="svgIcon">
                                  <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12zM8.428 4.866c-2.414 0-4.378 2.05-4.378 4.568 0 3.475 5.057 7.704 7.774 9.975.243.2.47.39.676.56.245-.21.52-.43.813-.68 2.856-2.36 7.637-6.31 7.637-9.87 0-2.52-1.964-4.57-4.377-4.57-1.466 0-2.828.76-3.644 2.04-.1.14-.26.23-.43.23-.18 0-.34-.09-.43-.24-.82-1.27-2.18-2.03-3.65-2.03z" fill-rule="evenodd"></path></svg>
                                </span>
                              </span>
                              <span class="button-activeState">
                                <span class="svgIcon svgIcon--heartFilled svgIcon--25px is-flushLeft">
                                  <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12z" fill-rule="evenodd"></path></svg>
                                </span>
                              </span>
                            </button>
                          </div>
                        </div>
                        <div class="buttonSet u-floatRight">
                          <div class="buttonSet-inner">
                            <button class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark" title="Delete Task">
                              <md-icon>delete</md-icon>
                            </button>
                            <button class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon "  title="Mark as Complete">
                              <span class="svgIcon svgIcon--arrowDown svgIcon--19px is-flushRight">
                                <md-icon>done_all</md-icon>
                              </span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container u-maxWidth640">
                  <div class="row u-marginBottom20">
                    <button [routerLink]="['/tasks/all']" class="button button--primary button--withChrome u-accentColor--buttonNormal responsesStream-showOtherResponses cardChromeless u-sizeFullWidth" data-action="show-other-responses">Show all Tasks</button>
                  </div>
                </div>
                <div class="metabar metabar--spacer js-metabarSpacer u-height65 u-xs-height56 metabar-sibling"></div>
              </span>
            </div>
          </article>
        </main>
        <div class="postActionsBar">
          <div class="postActionsBar-container container">
            <div class="postActionsBar-content row">
              <div class="u-height65 actionbar">
                <div class=" u-maxWidth360 u-paddingLeft20 u-paddingRight20 u-paddingTop10 u-marginAuto u-relative">
                  <div class="u-inline u-floatLeft">
                    <a [routerLink]="['/tasks/all']" routerLinkActive="active" class="nav--accent">
                      <div class="u-inline u-marginRight30">
                        <div class="u-inline buttonSet buttonSet--withLabels u-marginTop20">
                          <div class="buttonSet-inner">
                            <span class="svgIcon svgIcon--twitter svgIcon--29px">
                              <md-icon>assignment</md-icon>
                            </span>
                            <div class="postMetaInline-authorLockupNav u-flex1">
                              <p class="link--accent">All</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a [routerLink]="['/tasks/late']" routerLinkActive="active" class="nav--accent">
                      <div class="u-inline u-marginRight30">
                        <div class="u-inline buttonSet buttonSet--withLabels u-marginTop20">
                          <div class="buttonSet-inner">
                            <span class="svgIcon svgIcon--twitter svgIcon--29px">
                              <md-icon>assignment_late</md-icon>
                            </span>
                            <div class="postMetaInline-authorLockupNav u-flex1">
                              <p class="link--accent">Late</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="u u-inline u-floatCenter">
                    <a [routerLink]="['/tasks/new']" routerLinkActive="active" class="nav--accent">
                      <div class="u-inline u-marginRight5pct">
                        <div class="u-inline buttonSet buttonSet--withLabels u-marginTop20">
                          <div class="buttonSet-inner">
                            <span class="svgIcon svgIcon--twitter svgIcon--29px">
                              <md-icon>assignment_returned</md-icon>
                            </span>
                            <div class="postMetaInline-authorLockupNav u-flex1">
                              <p class="link--accent">New</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="u-inline u-floatRight">
                    <a (click)="openDialog()" class="nav--accent cursor">
                      <div class="u-inline u-marginRight30">
                        <div class="u-inline buttonSet buttonSet--withLabels u-marginTop20">
                          <div class="buttonSet-inner">
                            <span class="svgIcon svgIcon--twitter svgIcon--29px">
                              <md-icon>create</md-icon>
                            </span>
                            <div class="postMetaInline-authorLockupNav u-flex1">
                              <p class="link--accent">Create</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a [routerLink]="['/login']" routerLinkActive="active" class="nav--accent">
                      <div class="u-inline">
                        <div class="u-inline buttonSet buttonSet--withLabels u-marginTop20">
                          <div class="buttonSet-inner">
                            <span class="svgIcon svgIcon--twitter svgIcon--29px logOut--svg">
                              <md-icon>settings_power</md-icon>
                            </span>
                            <div class="postMetaInline-authorLockupNav u-flex1">
                              <a class="link--accent">Log Out</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>